  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Manage Items</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active">Manage Items</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-12 col-lg-6">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Item Information</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form">
                  
                  <div class="card-body">
                    <!-- <div class="form-group">
                      <label for="txt-id">Select Customer</label>
                      <select style="display: flex;" name="customer" id="customer-select">
                        <option value="">--Please choose a customer--</option>
                       </select>
                  </div> -->
                  <div class="form-group">
                    <label for="txt-description">Please type Customer Id</label>
                    <input type="text" class="form-control" id="txt-cusId" placeholder="Enter the customer ID">
                  </div>
                  <div class="form-group">
                    <label for="txt-description">Item Code</label>
                    <input type="text" class="form-control" id="txt-itemCode" placeholder="Enter the item code">
                  </div>

                  <!-- <div class="form-group">
                    <label for="txt-code">Item Code</label>
                    <input  type="text" class="form-control" id="txt-code" placeholder="Enter t5he item code">
                  </div> -->
                  <!-- <div class="form-group">
                    <label for="txt-code">Select Item</label>
                    <select style="display: flex;" name="item" id="item-select">
                      <option value="">--Please choose items--</option>
                     
                  </select>
                  </div> -->


                    

                    <div class="form-group">
                      <label for="txt-description">Item Description</label>
                      <input disabled="disabled" type="text" class="form-control" id="txt-description-po" placeholder="Item description will be showed here">
                    </div>
                    <div class="form-group">
                      <label for="txt-qty">Ordered Qty</label>
                      <input type="text" class="form-control" id="txt-ordQty" placeholder="Enter the qty that you want to order">
                    </div>
                    <div class="form-group">
                      <label for="txt-unitprice">Unit Price</label>
                      <input disabled="disabled" type="text" class="form-control" id="txt-unitprice-po" placeholder="Unitprice will be showed here">
                    </div>  
                    <div class="form-group">
                      <label for="txt-totalPrice">Total Price</label>
                      <input disabled="disabled" type="text" class="form-control" id="txt-totalPrice" placeholder="Total price will be showed here">
                    </div>                     
                    <div class="form-group">
                      <button type="button" style="margin-top: 8px;" id="btn-add-to-cart" class="btn btn-success" >Add to Cart</button>
                      <button type="submit" style="margin-top: 8px;" id="btn-save-order" class="btn btn-primary" >Save Order</button>
                      <button type="reset" style="margin-top: 8px;" class="btn btn-warning">Clear Selection</button>
                     
                    </div>
                  </div>
                  <!-- /.card-body -->
                </form>
              </div>
              <!-- /.card -->
            </div>
            <div class="col-12 col-lg-6">
              <div class="card">
                <div class="card-body">
                  <table id="tbl-place-orders" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Code</th>
                      <th>Description</th>
                      <th>Ordered Qty</th>
                      <th>Unitprice</th>
                      <th>Sum</th>
                      <th></th>
                    </tr>
                    </thead>
                    <!-- <tbody>
                      <tr>
                        <td>I001</td>
                        <td>Mouse</td>
                        <td>10</td>
                        <td>350</td>
                        <td><i class="fas fa-trash"></i></td>
                      </tr>
                      <tr>
                        <td>I001</td>
                        <td>Mouse</td>
                        <td>10</td>
                        <td>350</td>
                        <td><i class="fas fa-trash"></i></td>
                      </tr>
                      <tr>
                        <td>I002</td>
                        <td>Mouse</td>
                        <td>10</td>
                        <td>350</td>
                        <td><i class="fas fa-trash"></i></td>
                      </tr>
                      <tr>
                        <td>I003</td>
                        <td>Mouse</td>
                        <td>10</td>
                        <td>350</td>
                        <td><i class="fas fa-trash"></i></td>
                      </tr>
                      <tr>
                        <td>I004</td>
                        <td>Mouse</td>
                        <td>10</td>
                        <td>350</td>
                        <td><i class="fas fa-trash"></i></td>
                      </tr>
                      <tr>
                        <td>I005</td>
                        <td>Mouse</td>
                        <td>10</td>
                        <td>350</td>
                        <td><i class="fas fa-trash"></i></td>
                      </tr>
                      <tr>
                        <td>I006</td>
                        <td>Mouse</td>
                        <td>10</td>
                        <td>350</td>
                        <td><i class="fas fa-trash"></i></td>
                      </tr>
                      <tr>
                        <td>I007</td>
                        <td>Mouse</td>
                        <td>10</td>
                        <td>350</td>
                        <td><i class="fas fa-trash"></i></td>
                      </tr>
                      <tr>
                        <td>I008</td>
                        <td>Mouse</td>
                        <td>10</td>
                        <td>350</td>
                        <td><i class="fas fa-trash"></i></td>
                      </tr>
                      <tr>
                        <td>I009</td>
                        <td>Mouse</td>
                        <td>10</td>
                        <td>350</td>
                        <td><i class="fas fa-trash"></i></td>
                      </tr>
                      <tr>
                        <td>I010</td>
                        <td>Mouse</td>
                        <td>10</td>
                        <td>350</td>
                        <td><i class="fas fa-trash"></i></td>
                      </tr>

                    </tbody> -->
                    <tbody>
                      
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
        </div>
        <!-- /.row (main row) -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->